/* Styles globaux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

main {
    height: 100vh;
    margin-top: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
}
.login-container {
    background-color: #E0E0E0;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    color: red;
    margin-bottom: 30px;
    font-size: 2rem;
    text-shadow: 1px 1px 0px #bbb, 2px 2px 0px #999;
}

.login-container input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
}

.login-container input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.login-container button {
    width: 100%;
    padding: 12px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-container button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}
