{% extends "includes/base.twig" %}

{% block corps %}
    <div class="main center">
        {% if not isLogged %}
        <div class="login-container">
            <h2>Connexion</h2>
            <form action="#" method="post">
                <input type="text" placeholder="Identifiant" name="login" required>
                <input type="password" placeholder="Mot de passe" name="mdp" required>
                <input type="submit" value="Se connecter">
            </form>
            <button onclick="updateUrlParam({page:'connexion', action:'inscription'})">S'inscire</button>
            {% if erreur is not null %}
                <div>{{ erreur }}</div>
            {% endif %}
        </div>
        {% else %}
            <div class="login-container">
                <div class="info-message">Vous êtes déjà connecté</div>
                <button onclick="updateUrlParam({page:'connexion', action:'deconnexion'})" class="btn-primary">Déconnexion</button>
            </div>
        {% endif %}
    </div>
{% endblock %}

