{% extends "includes/base.twig" %}
{% block corps %}
    <div class="main">
        {% include "infoCrous/nav.twig" %}
        <section>
            <!-- mettre votre page ici -->
        </section>
    </div>
{% endblock %}