{% extends "includes/base.twig" %}

{% block corps %}
<main>
    {% include "infoCrous/nav.twig" %}
    <section class="restaurant-section">
        <button class="toggle-menu-btn">Afficher le menu &#9662;</button>
        <div class="menu-sections hidden">
        sqdqsddsqdqqs
        {% for MenuJour in menu %}
            <h3>Menu du {{ MenuJour.date }}</h3>
            
        {% endfor %}
        </div>
    </section>
</main>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const toggleButton = document.querySelector('.toggle-menu-btn');
        const menuSections = document.querySelector('.menu-sections');
        
        toggleButton.addEventListener('click', () => {
            menuSections.classList.toggle('hidden');
            toggleButton.innerHTML = menuSections.classList.contains('hidden') 
                ? 'Afficher le menu &#9662;' 
                : 'Masquer le menu &#9652;';
        });
    });
</script>

{% endblock %}
