{% extends "includes/base.twig" %}
{% block corps %}
    <main class="">
        {% include "infoCrous/nav.twig" %}
        <section>
            <!-- mettre votre page ici -->
            <!-- TODO modifie ça Quentin -->
        </section>
    </main>
{% endblock %}