<nav class="sidebar-navbar">
    <div class="sidebar-navbar-list">
        <a class="sidebar-navbar-item" onclick="updateUrlParam({page:'details', id: true})">
            <img src="icons/details-36-512.png" alt="Details Icon" class="sidebar-navbar-icon">
            <span>Details</span>
        </a>
        <a class="sidebar-navbar-item" onclick="updateUrlParam({page:'menu', id: true})">
            <img src="icons/dishes-plan-512.png" alt="Details Icon" class="sidebar-navbar-icon">
            <span>Menu</span>
        </a>
        <a class="sidebar-navbar-item" onclick="updateUrlParam({page:'avis', id: true})">
            <img src="icons/star-244-512.png" alt="Avis Icon" class="sidebar-navbar-icon">
            <span>Avis</span>
        </a>
    </div>

    <!-- Bouton -->
    <div class="sidebar-navbar-toggle">
        <button id="icon_gauche" class="toggle-button" onclick="agrandir()">
            <img src="icons/right-right-512.png" alt="Icone agrandir" class="toggle-image"></button>
        <button id="icon_droite" class="toggle-button" onclick="reduire()">
            <img src="icons/left-left-512.png" alt="Icone reduire" class="toggle-image"></button>
    </div>
</nav>