<header>
    <div>
        <a class="home-button" onclick="updateUrlParam({page:'accueil'})">
            <img src="icons/favicon.png" alt="Icon du site" class="site-icon">
            <h1>CrousTracker</h1>
        </a>
    </div>
    <div class="header-right">
        <a class="nav-button" title="Page de classement" onclick="updateUrlParam({page:'classement'})">
            <img src="icons/classement.svg" alt="Classement">
        </a>
        <a class="nav-button" title="Actualiser les données" onclick="updateUrlParam({page:'actualiser'})">
            <img src="icons/refresh.png" alt="Actualiser">
        </a>
        <a class="nav-button" title="Se connecter" onclick="updateUrlParam({page:'connexion'})">
            <img src="icons/user.svg" alt="Se connecter">
        </a>
    </div>
</header>