<header>
    <button class="header-left">
        <img src="icons/CrousTracker.png" alt="Icon du site" class="site-icon">
        <h1 class="titre">CrousTracker</h1>
    </button>
    <div class="header-right">
        <button class="icon-button" title="Se connecter">
            <img src="icons/classement.png" alt="Classement">
        </button>
        <button class="icon-button" title="Actualiser les données">
            <img src="icons/reload.png" alt="Actualiser">
        </button>
        <button class="icon-button" title="Page de classement">
            <img src="icons/user.png" alt="Se connecter">
        </button>
    </div>
</header>